@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.app {
  background: #1034A6;
  padding: 30px;
  height: 100vh;
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  display: grid;
  color: #FFFFFF;
  text-align: center;
}

.todo-list {
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  padding: 0;
}

.todo-list li {
  list-style-type: none;
  margin-bottom: 1rem;
  text-align: center;
  padding: .5rem;
  line-height: 1;
  border-radius: 5px;
}

.todos {
  display: flex;
  text-align: left;
  background-color: rgba(225, 225, 225, 0.4);
}

a {
  text-decoration: none;
  padding: 3px;
  font-weight: bold; 
  opacity: .5;
  cursor: pointer;
  color: red;
}

a:hover {
  opacity: 1;
}

.todo {
  background: rgb(133, 32, 32);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 13px 10px;
  font-size: 15px;
  margin-bottom: 6px;
  border-radius: 3px;
}

.form {
  position: relative;
  z-index: 1;
  background: #205cca;
  width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1034A6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #008ECC;
}
p{
  color:#fff;
  font-size: 20px;
  text-align: center;
  display: grid;
  line-break: strict;
}
.todo-list {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  width: 700px;
  margin: 0 auto;
}

.todo {
  background: rgb(230, 218, 218);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 10px;
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.input{
  padding: 5px;
  width: 90%;
  margin-top: 5px;
  border: 1px solid #777777;
  border-radius: 5px;
}
.complete{
  padding:8px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color:#4169e1;
  color: #fff;
  cursor: pointer;
}
.remove{
  padding:5px;
  background-color:#0048ba;
  border-radius: 5px ;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  width: 30px;
}
.list li{
  display: inline-block;
  margin: 20px;
}
.list li:hover{
  text-decoration: underline;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUpLink{
  color:#fff;
  font-size: 20px;
  text-align: center;
}
.signout{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1034A6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}